*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@tailwind base;
.common{
  @apply w-full pl-[10%] text-[25px] md:text-[28px] text-[#989898] py-2 border-b-2 border-[#E6E6E6] capitalize 
}

.icon{
 @apply before:content-[""] before:absolute before:h-[23px] before:w-[23px] mobile:before:w-[30px] md:before:h-[30px] before:bg-white  before:border-[#bbb7b7] before:left-2 before:border-[1px] before:rounded-[50%] before:top-[50%] before:translate-y-[-50%] 
}
.completed {
  @apply before:content-['\f00c'] before:font-['FontAwesome'] before:text-[18px] before:flex before:justify-center before:items-center before:text-[#98ccc2]
}
.active {
  @apply border-[1px] border-[#ec7373]
}
.list-common {
  @apply block text-center cursor-pointer py-[3px] mobile:text-[16px] 
}

@tailwind components;
@tailwind utilities;
